# Node.js dependencies
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

# OS-specific files
.DS_Store   # macOS
Thumbs.db   # Windows

# Build directories
/node_modules
build/

# IDE configurations
.vscode/
.idea/

# Temporary files
*.log
*.tmp
